

nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 70px;
    padding: 10px;
    font-size:larger;
    font-family: sans-serif;
    text-align: center;
    z-index: 1000;
   overflow: hidden;
    box-shadow: 0 2px 4px rgba(73, 73, 73, 0.548);
    
}
.navbar-nav ul li{
    align-items: center;
}

nav img{
    height: 100%;
    width: 250px;
    margin-left: 7px;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    
}

.navbar-nav .nav-link {
    margin-right: 100px; /* Adicionar margem à direita para empurrar os itens para a  */

}



.imagem-container {
    position: relative;
    width: 100%; /* Define a largura igual à largura do viewport do navegador */
    max-width: 100%;
     /* Define a altura desejada */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
    margin-top: 70px;
}

.imagem-container img {
    position: relative;
    width: 100%; /* Faz a imagem ocupar 100% da largura do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
    
   
}





#sectionAbout{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
}

.container-fluid img{
    height: 750x;
    width: 50px;
    
   
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


#carouselExampleFade{
    margin: 0 auto;
    max-width: 800px;
}
.carousel-item img{
    max-width: 100%;
    height: auto;
    max-height: 900px;
}

.section ul {
    list-style-type: none; /* Remover os marcadores padrão */
    padding: 0; /* Remover o preenchimento padrão da lista */
    
}

/* Aplicando o ícone como marcador da lista */
 .section ul li {
    padding-left: 100px; /* Adicionar um espaçamento à esquerda para o ícone */
    background-repeat: no-repeat; /* Evitar que o ícone se repita */
    background-position: 0 50%; /* Posicionar o ícone no centro vertical do item da lista */
    background-size: 80px; /* Definir o tamanho do ícone */
    margin-bottom: 50px; /* Adicionar espaçamento entre os itens da lista */
    line-height: 5; /* Ajustar a altura da linha para alinhar o texto corretamente */
}

.section li{
    
    margin-right: 70px;
}

.li1{
    background-image: url(imagens/electric-pole.png);
}

.li2{
    background-image: url(imagens/eletricista-icon.png);
}
.li3{
    background-image: url(imagens/ferramenta-chave-icon.png);
}
.li4{
    background-image: url(imagens/idea-icon.png);
}
.li5{
    background-image: url(imagens/painel-solar-icon.png);
}

h4, h2{
    text-align: center;
}

section{
    margin-bottom: 150px;
}

.section-one {
    position: relative;
    overflow: hidden;
}

.background-image {
    position: relative;
    background-image: url('imagens/electrician-builder-work-examines-cable-connection-electrical-line-fuselage-industrial-switchboard-professional-overalls-with-electrician-s-tool.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ocupa a altura total da tela */
    
} 

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay com transparência */
}